#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header .seller, #header .receiver, #header .center .inputFields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}