#invoiceBody {
  width: 210mm;
  min-height: 297mm;
  background: white;
  box-shadow: 0px 12px 17px 0px rgba(0, 0, 0, 0.2);
  padding-left: 20mm;
  padding-right: 20mm;
  padding-bottom: 20mm;
  position: relative;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 2px solid black;
  outline-offset: -1px;
  padding: 20px;
}

.seller,
.receiver,
.center {
  width: 33.333%;
  font-size: 14px;
}

.seller, .receiver{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header .center .inputFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.center{
  padding: 0px 20px 0px 20px;
}

.inputFields{
  width: 100%;
}

.body .bodyHeader {
  display: flex;
  flex-direction: row;
  height: 80px;
  outline: 2px solid black;
  outline-offset: -1px;
}

.body .row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  outline: 1px solid black;
  outline-offset: -1px;
  text-align: center;
  font-size: 14px;
}

.row .text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.row .number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
}

.nrCrt {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.denumire {
  width: 44%;
  box-sizing: border-box;
  padding-right: 5px;
}

.um {
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cantitate {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pretUnitar {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valoareLei {
  width: 11.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valoareTva {
  width: 11.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 2px solid black;
  outline-offset: -1px;
}

.bodyProdus {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  min-height: 30px;
}

.bodyProdus span {
  outline: 1px solid black;
  outline-offset: -1px;
  text-align: center;

}

.bodyProdus .text {
  display: flex;
}

.bodyProdus textarea {
  margin: 0;
  width: 100%;
  field-sizing: content;
  resize: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.bodyProdus input {
  height: 100%;
  width: 100%;
  padding: 0px 10px 0px 10px;
  margin: 0;
  border: none;
  outline: none;
}

.bodyFooter {
  display: flex;
  flex-direction: row;
  outline: 2px solid black;
  outline-offset: -1px;
  font-size: 12px;
  height: 150px;
}

.semnatura,
.expeditie {
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
  outline-offset: -1px;
  font-size: 14px;
  padding: 5px 8px 0 8px;
  box-sizing: border-box;
}

.semnatura {
  justify-content: space-between;
  width: 25%;
  font-size: 14px;
}

.expeditie {
  width: 40%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.buttons button {
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.removeButton {
  position: absolute;
  right: 40px;
  padding: 0px 10px 0px 10px;
  margin: 0;
  cursor: pointer;
  background-color: rgb(255, 20, 66, 50%);
  transition: 0.1s ease-out;
  border-radius: 2px;
}

.removeButton:hover {
  transition: 0.1s ease-out;
  background-color: rgb(255, 20, 66, 100%);
}

.headerRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 10px;
}

.headerRow span {
  white-space: nowrap;
}

.headerRow input{
  flex: 1;
  min-width: 0;
  width: 0;
}

.footerRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 10px;
  font-size: 12px;
}

.footerRow span {
  white-space: nowrap;
}

.footerRow .regularInput{
  flex: 1;
  min-width: 0px;
  width: 0;
  font-size: 12px;
}

.info{
  font-size: 12px;
}

.serieCI{
  width: 20px;
  font-size: 12px;
}

.numarCI{
  width: 45px;
  font-size: 12px;
}

.eliberataDe{
  width: 140px;
  font-size: 12px;
}

.dataExpediere{
  width: 80px;
}

.oraExpediere{
  width: 50px;
}

.bodyFooter input{
  margin: 0;
  padding: 0 2px 0 2px;
}

.accize{
  width: 35%;
  display: flex;
  flex-direction: row;
}

.accize .stanga{
  padding: 0;
  width: 34.3%;
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
  outline-offset: -1px;
  font-size: 14px;

}

.accize .dreapta{
  padding: 0;
  width: 65.7%;
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
  outline-offset: -1px;
}

.accize .dreapta .totaluri{
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid black;
  outline-offset: -1px;
}

.totalDePlata{
  height: 60%;
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  outline: 1px solid black;
  outline-offset: -1px;
}

.accize .dreapta .totaluri .inputTotal{
  outline: 1px solid black;
  outline-offset: -1px;
  border: none;
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.totalAccize{
  height: 40%;
  width: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}

.accize .stanga .semnaturaPrimire {
  height: 60%;
  width: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
}

.totalDePlataNr{
  font-size: 14px;
  padding-bottom: 10px;
}


@media print {
  .noprint {
    display: none;
  }

  #invoiceBody {
    box-shadow: 0px 12px 17px 0px rgba(0, 0, 0, 0);
    height: 250mm;
    padding-top: 20mm;
  }

  input{
    border: none;
    outline: none;
  }
}
