#body{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform-origin: top center;
}

#bodyButonLista{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.butonLista {
    position: relative;
    cursor: pointer;
    width: 89%;
    height: 40px;
    display: flex;
}

.stergeFactura{
    width: 15%;
    cursor: pointer;
    background-color: rgb(255, 20, 66, 50%);
    transition: 0.1s ease-out;
}

.stergeFactura:hover{
    background-color: rgb(255, 20, 66, 100%);
    transition: 0.1s ease-out;
}

.nrFactura{
    justify-self: baseline;
    align-self: center;
}

.numeFactura{
    flex: 1;
    align-self: center;
}

.stergeLista{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 20, 66, 50%);
    transition: 0.1s ease-out;
    cursor: pointer;
}

.stergeLista:hover{
    background-color: rgb(255, 20, 66, 100%);
    transition: 0.1s ease-out;
}

.searchInvoiceInp{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 1000px) and (max-width: 1500px){
  #body{
    transform: scale(0.8);
  }
}